
.icon-call:before { content: '\e801'; } /* '' */
.icon-email:before { content: '\e802'; } /* '' */
.icon-facebook:before { content: '\e803'; } /* '' */
.icon-github:before { content: '\e804'; } /* '' */
.icon-left-arrow:before { content: '\e805'; } /* '' */
.icon-linkedin:before { content: '\e806'; } /* '' */
.icon-right-arrow:before { content: '\e807'; } /* '' */
.icon-twitter:before { content: '\e808'; } /* '' */